<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="pasteup-dev-fonts.css">
        <!-- <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css"> -->

        <script src="../../libs/d3.min.js"></script>
        <script src="../../libs/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="introduction clearfix">
            <h1>The current Lok Sabha</h1>
            <p>543 elected seats- Congress governs with its coalition partners and unconditional support from the Bahujan Samaj and Samajwadi parties</p>
            <div class="tooltip"><p class='tooltipStatus'>Hover or tap for details</p></div>
        </div>

        <div class="pie-chart">
            <div class="pies"></div>
            <div class="legend">
            <p><span class='allianceColor' style='background-color:#4BC6DF;'></span>UPA, governing coalition (229 seats)</p>
            <p><span class='allianceColor' style='background-color:#4490CE;'></span>Supporters of UPA (47 seats)</p>
            <p><span class='allianceColor' style='background-color:#FFBB00;'></span>NDA, opposition of UPA (136 seats)</p>
            <p><span class='allianceColor' style='background-color:#f66980;'></span>Others (121 seats)</p>
            </div>
        </div>

    </div>
    <script src="//interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js"></script>
    <script>
        iframeMessenger.enableAutoResize();
    </script>
    </body>
</html>
