<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="pasteup-dev-fonts.css">
        <!-- <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css"> -->

        <script src="../../libs/d3.min.js"></script>
        <script src="../../libs/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="introduction clearfix">
            <h1>Results so far</h1>
            <p>Source: ECI</p>
             <div class="switch">
                <div class="2009-switch">2009 result</div><div class="2014-switch current">2014 result</div>
            </div>
        </div>

        <div class="pie-chart">
           <div class="legend">
                <p class="bjpSeats"></p>
                <p class="congressSeats"></p>
            </div>
            <div class="pies"></div>
            
        </div>

    </div>
    <script src="//interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js"></script>
    <script>
        iframeMessenger.enableAutoResize();
    </script>
    </body>
</html>
