body{
    margin:0;
    font-family:"Guardian Agate Sans", Arial;
}

#data_wrapper{
    max-width:620px;
    background:#f4f4ee;
    padding:10px;
}
#data_wrapper h1{
    font-size:18px;
}

#data_wrapper h2{
    font-size:14px;
    font-weight: normal;
}

#data_wrapper h3{
    font-size:14px;
    font-weight: bold;
    border-top:2px solid #333;
    padding-top:4px;
}

#swing_label{
    font-size:12px;
}
#data_set_map {
    width: 200px;
    height: 250px;
    border: 1px solid #EEE;
    float: left;
}

#data_wrapper input[type="range"]{
   -webkit-appearance:none !important;
   background:#fff;
   height:6px;
   width:40%;
   border-radius:3px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.4);
 }

#data_wrapper input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none !important;  
   background:#005689;
   height:34px;
   width:34px;
   border-radius:17px;
 }

#data_set_nav div.active {
    font-weight: bold;
    background: red;
}

#data_chart {
    float: left;
}

.data-set-title {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}

.data-set-title:hover {
    background: #eee;
}

.table_wrapper .hidden {
    display: none;
}

.table_toggle{
    content: '...';
    display: block;
    background: #EEE;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
};